body {
    background-color: #F8F8FB;
}

#nav-head {
    margin-bottom: 80px;
}

#navbar a {
    display: inline-block;
}

pre {
    border: 0;
    padding: 0;
}

#search {
    margin: 35px 0;
}

.main-wrap {
    padding: 0px;
}

#paging {
    margin-top: 0px;
}

#paging a {
    color: #333333;
    margin-left: 15px;
    border-radius: 4px;
}

#paging .active a {
    color: #333333;
    background-color: #CCCCCC;
    border: #CCCCCC;
}


/*.entry_content {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}*/
.date-wrap {
    clear: both;
}

.date {
    margin-top: 30px;
    float: left;
}

.entry_a {
    float: right;
    border: 1px solid #5CB85C;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 25px;
}

#not_found {
    text-align: center;
    margin: 20px auto;
}

#compose-tag {
    width: 20%;
    float: left;
}

#compose-select {
    width: 15%;
    display: inline-block;
    margin-left: 15px;
}

#compose-form {
    margin-bottom: 30px;
}

#compose-button {
    margin-left: -15px;
}

section.inner {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
}

.archive_delete {
    float: right;
}


/*-----------------------------*/


/* Aside */

#tag_a a {
    display: block;
    margin-bottom: 10px;
}


/*----------------------------*/


/*footer*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/*foot end*/


/*----------------------------*/
