<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><a href="/topic/{{ article.slug }}">{{ article.title }}</a></h3>
    </div>
    <div class="panel-body">
        <div class="entry_content">
            {% raw article.content %}
        </div>
        <div class="date-wrap">
            <p class="date">{{ locale.format_date(article.published, full_format=True, shorter=True) }}</p>
        {% if current_user %}
            <a class="entry_a" href="/compose?id={{ article.id }}">{{ _("Edit") }}</a>
        {% else %}
            <a class="entry_a" href="/topic/{{ article.slug }}">查看</a>
        {% end %}
        </div>
    </div>
</div>
