{% extends "base.html" %} {% block body %}
<div id="main-wrap" class="col-md-8">
    <div id="section-wrap" class="outer">
        <section class="inner">
            {% for entry in entries %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a class="title" href="/entry/{{ entry.slug }}">{{ entry.title }}</a>
                </div>
                <div class="panel-body">
                    <small class="date">
                    {{ locale.format_date(entry.published, full_format=True, shorter=True) }}
                </small> {% if current_user %}
                    <button class="delete" type="button" name="delete">delete</button>
                    {% end %}
                </div>
            </div>
            {% end %}
        </section>
    </div>
</div>
{% end %} {% block bottom %}
<script type="text/javascript">
function getCookie(name) {
    var cookie_re = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return cookie_re ? cookie_re[1] : undefine;
};

$(".delete").click(function() {
    var title_t = $(this).parent().parent().find("a").text();
    var slug_s = $(this).parent().parent().find("a").attr("href");
    console.log(slug_s);
    var data = {
        title: title_t,
        slug: slug_s
    };

    data._xsrf = getCookie("_xsrf");
    var this_box = $(this);

    $.post("/delete",
        $.param(data),
        function(msg, status) {
            if (msg == "deleted" && status == "success") {
                this_box.parent().hide(1000);
                this_box.parent().parent().hide(1800);
            }
        }
    )
});
</script>
{% end %}
