<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="alternate" href="/feed" type="application/atom+xml" title="myblog"> 
    <!-- bs -->
    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap-3.3.5/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap-3.3.5/css/font-awesome.min.css") }}">
    <!--[if lt IE 9]>
        <h3>Your browser is too old.. Touch me to upgrade it.</h3>
        <a href="http://www.google.cn/chrome/"><h2>chrome</h2></a>
        <a href="www.mozilla.org"><h2>firefox</h2></a>
    <![endif]-->
    <link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css" />

    {% block head %} 
    {% end %}
</head>

<body>
    <nav id="nav-head" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" title="blog">
                    <img src="{{ static_url("img/favicon-32.ico") }}" alt="" >
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a style="" href="/"><i class="icon-home"></i>  home</a>
                    </li>
                    <li>
                        <a href="/archive"><i class=" icon-book"></i>  {{ _("Archive") }}</a>
                    </li>
                    <li>
                        <a href="/about"><i class="icon-info-sign"></i>  about</a>
                    </li>
                    <li>     
                        <a href="/feed"><i class="icon-rss"></i>  feed</a>
                    </li>
                    {% if current_user %}
                    <li>
                        <a href="/compose"><i class="icon-edit"></i>  {{ _("new post") }}</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="icon-user"></i>  {{ _("sign out") }}</a>
                    </li>
                    {% else %}
                    <li>
                        {% raw _('<a href="%(url)s"><i class="icon-signin"></i>  Login</a>') % {"url" : "/login"} %}
                    </li>
                    {% end %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="body-wrap" class="container">
        {% block body %}
        {% end %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <small>Powered by <a href="http://www.tornadoweb.org/">tornado</a> | senvid.</small>
            </p>
        </div>
    </footer>
<script type="text/javascript" src="{{ static_url("js/jquery-2.1.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("bootstrap-3.3.5/js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/web.js") }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    mouse_over_out();
});
   
</script>
{% block bottom %} 
{% end %}
</body>

</html>
