{% extends "base.html" %}
{% block head %}

<style type="text/css">
    #nav-head{
        margin-bottom: 20px;
    }
</style>
{% end %}

{% block body %}
<div id="main-wrap" class="col-md-10">
    <form action="{{ request.path }}" method="post" id="compose-form" class="form-horizontal">
        <div class="form-group">
            <label for="compose-title">Title</label>
            <input name="title" type="text" id="compose-title" class="form-control" value="{{ article.title if article else "" }}" autofocus required/>
        </div>
        <div class="form-group">
         <label class="sr-only" for="compose-textarea">Content</label>
            <textarea name="content" id="compose-textarea" class="form-control" rows="6" cols="50" required >{{ article.content if article else "" }}</textarea>
        </div>
       
        <div id="compose-tag" class="form-group">
         <label class="sr-only" for="compose-tags">Tag</label>
            <input name="article_tag" type="text" id="compose-tags" class="form-control" placeholder="add tag" value="{{ article.tag_type if article and article.article_tag_id else "" }}">
        </div>
        <div id="compose-select" class="form-group">
        
            <label class="sr-only" for="compose-selects">tag</label>
            <select  id="compose-selects" class="form-control">

                <option selected="selected">标签</option>
                {% if tags %}
                {% for tag in tags %}
                <option>{{ tag.tag_type }}</option>
                {% end %}
                {% end %}
            </select>

        </div>
        <i class="icon-tag icon-large" style="margin-left: 15px"></i>
        <div id="compose-button">
            <button type="submit" class="btn btn-success submit">{{ _("Save changes") if article else _("Publish post") }}</button>
            <a href="{{ "/article/" + article.slug if article else "/" }}">
                <i class="icon-ban-circle"></i> {{ _("Cancel") }}
            </a>

            {% if article %}
              <input type="hidden" name="id" value="{{ article.id }}"/>
            {% else %}
                <small class="local_log"></small>
            {% end %}
            {% module xsrf_form_html() %}
        </div>
    </form>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript" src="{{ static_url("ckeditor/ckeditor.js") }}"></script>
<script type="text/javascript">
    // localSave(".content",".local_log");
    // localSave(".title");
    window.onload=function() {
        // ckeditor
        CKEDITOR.replace('content');
    }
</script>
<script type="text/javascript">
    //onchange事件
    $("#compose-selects").change(function () {
        var str = $("#compose-selects option:selected").text();
        var firstTag = $("#compose-selects option:first-child").val();
        // var firstTag = document.getElementById("compose-selects").options[0].value;
        if (str != firstTag) {
            $("#compose-tags").val(str);
        }else{
            $("#compose-tags").val("");
        };
    });

    //post
</script>
{% end %}
