{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="">
<script type="text/javascript" src="{{ static_url("ckeditor/ckeditor.js") }}"></script>
{% end %}

{% block body %}
<div id="main-wrap" class="col-md-10">
    <form action="{{ request.path }}" method="post" class="compose_form">
        <div class="form-group">
            <label>Title</label>
            <input name="title" type="text" class="title form-control" value="{{ entry.title if entry else "" }}" autofocus required/>
        </div>
        <div class="form-group">
            <textarea name="markdown" class="markdown form-control" rows="10" cols="20" required >{{ entry.markdown if entry else "" }}</textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-success submit">{{ _("Save changes") if entry else _("Publish post") }}</button>
            &nbsp;<a href="{{ "/entry/" + entry.slug if entry else "/" }}">{{ _("Cancel") }}</a>
        </div>
        {% if entry %}
          <input type="hidden" name="id" value="{{ entry.id }}"/>
        {% else %}
            <small class="local_log"></small>
        {% end %}
        {% module xsrf_form_html() %}
    </form>
</div>
{% end %}
{% block bottom %}
<script type="text/javascript">
    // localSave(".markdown",".local_log");
    // localSave(".title");
    // ckeditor
    CKEDITOR.replace('markdown');
    
</script>
{% end %}
