{% extends "base.html" %} 
    {% block head %}
        <link href="//cdn.bootcss.com/highlight.js/9.2.0/styles/monokai_sublime.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
    {% end %}
    {% block body %}
        <div class="col-md-8 main-wrap">
            <section class="inner">
                {% for article in articles %}
                <article class="article">
                    {% module Article(article) %}
                </article>
                {% end %}
            </section>
            <hr />
            <nav>
                <ul id="paging" class="pagination">
                </ul>
            </nav>
        </div>

        <div class="col-md-3 col-md-offset-1 main-wrap">
            <div id="aside-wrap">
                {% module Aside() %}
            </div>
        </div>
    {% end %}
    {% block bottom %}
    <script type="text/javascript">
        $(document).ready(function() {
            hljs.initHighlightingOnLoad();
            // var onPage = geturlargs();
            var onPage = parseInt({{ onPage }});
            var sumPage = parseInt({{ sumPage }});
            paging(onPage,sumPage);
        });
        </script>
    {% end %}
